<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Inheriting-bean-Spring-8/src/com/org/inheriting/example/TestApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.org.inheriting.example.TestApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Inheriting-bean-Spring-8"/>
</launchConfiguration>
