<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Core-Java-Hibernate-Spring-Intigrations/src/org/spring/hibernate/spring/examples/AppTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.spring.hibernate.spring.examples.AppTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Core-Java-Hibernate-Spring-Intigrations"/>
</launchConfiguration>
