<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="triangle" class="com.IOCExample.DIExample.Triangle"><!-- This is example of setter Injection 
																  and here name is varriable name of instance varriable -->
		<property name="type" value="Hello This Is Triangle"></property>
	</bean>
	
	
	<bean id="circle" class="com.IOCExample.DIExample.Circle"><!-- This is example of setter Injection and 
																	here name is varriable name of instance varriable -->
		<property name="msg" value="Hello this is Spring Example"></property>
	</bean>
</beans>